@import "../../../node_modules/react-alice-carousel/lib/scss/alice-carousel.scss";
.face{
    display: block;
    
    margin: 0 auto;
        width: 5rem;
      height: 5rem;
      @media (min-width: 801px) and (max-width: 1023px){
        width: 3rem;
        height: 3rem;
      }
      @media (min-width: 501px) and (max-width: 800px){
        width: 2rem;
        height: 2rem;
      }
      
      margin: 0 auto;
    
      @media (min-width: 301px) and (max-width: 500px){
       
      }
}
.Projectsmain{
    // height: 100vh;
    padding: 3rem 3rem 8rem;
    @media(max-width:600px){
        padding: 3rem 0rem 0rem;
    }
    box-sizing: border-box;
    color: rgb(70, 70, 70);
}
.link1{
    width: 50%;
    @media(max-width:600px){
        width: 100%;
    }
}
.link2{
    width: 30%;
    @media(max-width:600px){
        width: 100%;
    }
}
.link3{
    width: 20%;
    @media(max-width:600px){
        width: 100%;
    }
}
.link4{
    width: 60%;
    @media(max-width:600px){
        width: 100%;
    }
}
.link5{
    width: 40%;
    @media(max-width:600px){
        width: 100%;
    }
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 300px;
    height: 150px;
    border-radius: 25px;
    // margin: 2rem;
    @media(max-width:600px){
        height: 150px;
        border-radius: 0;
    }
    & img{
        width: 40%
    }
    &--wrap{
        width: 70%;
        height: 150px;
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        // box-sizing: border-box;
        margin: 0 auto;
        @media(max-width:1000px){
            width: 90%;
        }
        @media(max-width:600px){
            flex-direction: column;
            width: 100%;
            height: unset;
        }
    }
}
.box4{
    background-color: rgb(255, 215, 224);
    
    width: 100%;
    & img{
        width: 20%;
    }
}
.box2{
    background-color: rgb(186, 243, 221);
    width: 100%;
    & img{
        width: 70%;
        @media(max-width:600px){
            width: 50%;
        }
    }
}
.box5{
    background-color: rgb(255, 248, 187);
    
    & img{
        border-radius: 1rem;
        width: 20%;
        @media(max-width:600px){
            width: 40%;
        }
    }
}
.box3{
    background-color: rgb(200, 255, 246);
    width: 100%;
    & img{
        width: 30%;
    }
    
}
.box1{
    background-color: rgb(252, 220, 193);
    width: 100%;
    & img{
        @media(max-width:600px){
            width: 15%;
        }
    }
}
.box4:hover{
    background-color: rgb(255, 185, 200);
}
.box5:hover{
    background-color: rgb(255, 239, 96);
}
.box3:hover{
    background-color: rgb(128, 255, 227);
}
.box1:hover{
    background-color: rgb(255, 193, 142);
}
.box2:hover{
    background-color: rgb(128, 252, 194);
}
.title{
    font-size: 2rem;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding: 0 2rem;
    box-sizing: border-box;
}
.subtitle{
    margin: 1rem 0 2rem;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    padding: 0 2rem;
    box-sizing: border-box;
    & span{
        font-weight: bold;
    }
}
.subsubtitle{
    margin-top: 1rem;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    padding: 0 2rem;
    box-sizing: border-box;
    & span{
        font-weight: bold;
    }
}
.myproj{
    width: 100%;
    text-align: center;
    margin: 5rem 0 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 2rem;
    box-sizing: border-box;
    // color: rgb(212, 142, 85)
}
.contacts{
    text-align: center;
    width: 100%;
}