.alice-carousel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: auto;
}

.alice-carousel__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.alice-carousel__stage {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.alice-carousel__stage-item {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  line-height: 0;
}

.alice-carousel__stage-item * {
  line-height: initial;
}

.alice-carousel__stage-item.__cloned {
  opacity: 0;
  visibility: hidden;
}

.alice-carousel__stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: inline-block;
  width: 50%;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.alice-carousel__prev-btn [data-area]::after,
.alice-carousel__next-btn [data-area]::after {
  content: attr(data-area);
  position: relative;
  text-transform: capitalize;
}

.alice-carousel__prev-btn {
  text-align: right;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  display: inline-block;
  color: #465798;
  cursor: pointer;
}

.alice-carousel__prev-btn-item:hover,
.alice-carousel__next-btn-item:hover {
  color: darkred;
}

.alice-carousel__prev-btn-item.__inactive,
.alice-carousel__next-btn-item.__inactive {
  opacity: .4;
}

.alice-carousel__play-btn {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 20px;
}

.alice-carousel__play-btn:hover {
  cursor: pointer;
}

.alice-carousel__play-btn-wrapper {
  position: relative;
  background-color: #fff;
  padding: 10px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.alice-carousel__play-btn-item {
  cursor: pointer;
  position: absolute;
  background: transparent;
  width: 32px;
  height: 32px;
  outline: none;
  border: 0;
}

.alice-carousel__play-btn-item::before, .alice-carousel__play-btn-item::after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-width: 8px 0 8px 15px;
  border-left-color: #465798;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.alice-carousel__play-btn-item::before {
  height: 14px;
  left: 5px;
}

.alice-carousel__play-btn-item::after {
  left: 18px;
  top: 7px;
}

.alice-carousel__play-btn-item.__pause::before, .alice-carousel__play-btn-item.__pause::after {
  border-width: 0 0 0 10px;
  height: 30px;
}

.alice-carousel__play-btn-item.__pause::after {
  left: 18px;
  top: 0;
}

.alice-carousel__dots {
  margin: 30px 0 5px;
  text-align: center;
  list-style: none;
  padding: 0;
}

.alice-carousel__dots-item {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #e0e4fb;
}

.alice-carousel__dots-item:not(:last-child) {
  margin-right: 15px;
}

.alice-carousel__dots-item:hover, .alice-carousel__dots-item.__active {
  background-color: #6e7ebc;
}

.alice-carousel__slide-info {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 5px 10px;
  color: #465798;
  border-radius: 5px;
  background-color: rgba(224, 228, 251, 0.6);
}

.alice-carousel__slide-info-item {
  line-height: 0;
  vertical-align: middle;
}

.alice-carousel .animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.alice-carousel .animated-out {
  z-index: 1;
}

.alice-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.face {
  display: block;
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
}

@media (min-width: 801px) and (max-width: 1023px) {
  .face {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 501px) and (max-width: 800px) {
  .face {
    width: 2rem;
    height: 2rem;
  }
}

.Projectsmain {
  padding: 3rem 3rem 8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #464646;
}

@media (max-width: 600px) {
  .Projectsmain {
    padding: 3rem 0rem 0rem;
  }
}

.link1 {
  width: 50%;
}

@media (max-width: 600px) {
  .link1 {
    width: 100%;
  }
}

.link2 {
  width: 30%;
}

@media (max-width: 600px) {
  .link2 {
    width: 100%;
  }
}

.link3 {
  width: 20%;
}

@media (max-width: 600px) {
  .link3 {
    width: 100%;
  }
}

.link4 {
  width: 60%;
}

@media (max-width: 600px) {
  .link4 {
    width: 100%;
  }
}

.link5 {
  width: 40%;
}

@media (max-width: 600px) {
  .link5 {
    width: 100%;
  }
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  border-radius: 25px;
}

@media (max-width: 600px) {
  .box {
    height: 150px;
    border-radius: 0;
  }
}

.box img {
  width: 40%;
}

.box--wrap {
  width: 70%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .box--wrap {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .box--wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: unset;
  }
}

.box4 {
  background-color: #ffd7e0;
  width: 100%;
}

.box4 img {
  width: 20%;
}

.box2 {
  background-color: #baf3dd;
  width: 100%;
}

.box2 img {
  width: 70%;
}

@media (max-width: 600px) {
  .box2 img {
    width: 50%;
  }
}

.box5 {
  background-color: #fff8bb;
}

.box5 img {
  border-radius: 1rem;
  width: 20%;
}

@media (max-width: 600px) {
  .box5 img {
    width: 40%;
  }
}

.box3 {
  background-color: #c8fff6;
  width: 100%;
}

.box3 img {
  width: 30%;
}

.box1 {
  background-color: #fcdcc1;
  width: 100%;
}

@media (max-width: 600px) {
  .box1 img {
    width: 15%;
  }
}

.box4:hover {
  background-color: #ffb9c8;
}

.box5:hover {
  background-color: #ffef60;
}

.box3:hover {
  background-color: #80ffe3;
}

.box1:hover {
  background-color: #ffc18e;
}

.box2:hover {
  background-color: #80fcc2;
}

.title {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.subtitle {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.subtitle span {
  font-weight: bold;
}

.subsubtitle {
  margin-top: 1rem;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

.subsubtitle span {
  font-weight: bold;
}

.myproj {
  width: 100%;
  text-align: center;
  margin: 5rem 0 2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.contacts {
  text-align: center;
  width: 100%;
}
/*# sourceMappingURL=Projects.css.map */