
@font-face {
    font-family:'modern';
    src: url('../../assets/fonts/Modern.otf') format('opentype');
}


.mainprof{
    background-color: rgb(5,5,3);
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
  justify-content: center;
}
.overlayPr{
    position: absolute;
    width: 100vw;
    height: 100vh;
    
    z-index:2;
}
*{
    // width: 100vw;
    // height: 100vh;
    //overflow: hidden;
    font-family: 'modern';
}
.backgroundStars{
    width: 100vw;
    height: 100vh;
}
.icons{
    &--wrap{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute !important;
        top: 3rem;
        z-index: 3;
        border: white 1px solid;
        background-color: rgba(255,255,255,0.3);
        border-radius: 25px;
    }
    
    width: 400px;
    height: 90px;
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // @media (min-width: 1440px){
    //     width: 650px;
    //     height: 125px;
    //     margin-bottom: 2rem;
    
    // }
    &__item{
        display: flex;
        box-sizing: border-box;
        // border: white 1px solid;
        padding: 15px;
        width: 80px;
        height: 80px;
        // background-color: rgba(255,255,255,0.5);
        border-radius: 25px;
        // flex: 1 0 21%;
        object-fit: cover;
        // @media (min-width: 1440px){
        //     width: 125px;
        //     height: 125px;
            
        // }
    }
}
.headingPr{
    &--wrap{
        width: 700px;
        height: 200px;
        
    }
   
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(255,255,255,0.95);
    width: 700px;
    height: 100px;
    
}
.headingP{
    font-size: 1.2rem;
    color: rgba(255,255,255,0.95);
    width: 700px;
    height: 125px;
    font-weight: bold;
    word-wrap: break-word;
    @media (min-width: 1440px){
        font-size: 1.2rem;
        height: 150px;
    }
}
.face{
    &--wrap{
        width: 150px;
        height: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 1440px){
            margin-top: 2rem;
        }
    }
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    border: white 3px solid;
}
.linkedin{
    &--wrap{
        margin-top: 10px;
        width: 25px;
        height: 25px;

    }
    width: 25px;
    height: 25px;
    object-fit: cover;
}
.buttonProf{
    width: 150px;
    height: 50px;
    border-radius: 20%;
    background: none;
    color: white;
    border:none;
    font-weight: bold;
    @media (min-width: 320px) and (max-width: 1149px){
        height: 40px;
        font-size: 1.5rem;
    }
    
    @media (min-width: 1150px) and (max-width: 1359px){
        
        font-size: 1.5rem;
    }
    @media (min-width: 320px) and (max-width: 724px){
        
        font-size: 1rem;
    
    }
    @media (min-width: 1360px) and (max-width: 1919px) {
        font-size: 2rem; 
    }
    @media (min-width: 1920px){
        font-size: 3rem;
    }
    &:hover{
        border: 1px solid white;
    }
    &:focus{
        outline:none;
    }
    &--link{
        margin-top: 15px;
        width: 150px;
        height: 50px;
        border-radius: 20%;
    }}

    p {
        margin-block-end: 0.5em !important;
        margin-block-start: 0.5em !important;
    }