
a{
  color: rgb(255, 123, 0);
  text-decoration: none;
  &:hover{
    color: rgb(224, 108, 0);
  }
}
.image-gallery{
  width: 650px !important;
  &-image img{
    // border-radius: 2rem !important;
  }
}
.navbar{
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 3rem;
  z-index: 200;
  margin: 0;
  text-align: center;
  & > .active{
    border-bottom: 1px solid rgb(231, 147, 79);
  }
}
.li {
  list-style-type: none;
  margin-right: 3rem;
  @media (max-width: 500px){
    margin-right: 1rem;
  }
  text-align: center;
  line-height: 3rem;
  &:hover {
    cursor: pointer;
}
}
.li:first-child{
  margin-right: auto;
  margin-left: 1rem;
  border-bottom: none !important;
  @media (max-width: 500px){
    text-align: unset;
    line-height: normal;
    margin-left: 0;
    padding: 0.6rem;
    font-size: 0.8rem;
    width: 7rem;
  }
}
.bio{
  color: rgb(70, 70, 70);
  &__title{
    display: block;
    margin: 5rem auto 3rem;
    text-align: center;
    font-size: 2rem;
  }
  box-sizing: border-box;
  width: 100%;
  
  background-color: white;
  z-index: 100;
  position: absolute;
  @media (min-width: 301px) and (max-width: 500px){
    padding: 0;
  }
  @media (min-width: 501px) {
    padding: 5rem 0;
  }
  &__icons{
    width: 60%;
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    @media (min-width: 1024px){
      padding: 0;
    }
    @media (min-width: 701px) and (max-width: 1023px){
      font-size: 1rem;
      width: 80%;
     padding: 0;
    }
    @media (min-width: 301px) and (max-width: 700px){
      width: 80%;
      flex-direction: column;
      padding: 2rem;
      box-sizing: border-box;
    }
    &__item{
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem auto;
      @media (max-width: 700px){
        width: 90%;
      }
      
    }
    // & > div {
    //   position: relative;
    // }
    & img{
      width: 8vw;
      @media (min-width: 301px) and (max-width: 700px){
        width: 40vw;
        margin: 0 auto;
        display: block;
      }
    }
    & span{
      font-weight: bold;
      // color: rgb(241, 142, 50);

    }
    & .label{
      margin-top: 1rem;
      width: 20vw;
      @media (min-width: 701px) and (max-width: 1023px){
        width: 80%;
      }
      @media (min-width: 301px) and (max-width: 700px){
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
  &__intro{
    
    padding: 4rem 3rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    @media (min-width: 301px) and (max-width: 500px){
      flex-direction: column;
      text-align: center;
      padding: 0;
      justify-content: none;
      align-items: center;
    }
    
    &__logo{
      
    }
    &__greeting{
      width: 40%;
      display: flex;
      flex-direction: column;
      @media (min-width: 301px) and (max-width: 500px){
        width: 80vw;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      & img{
        width: 1.5rem;
        height: 1.5rem;
       
      }
      & span{
        color: rgb(241, 142, 50);
      font-size: 1.6rem;
      font-weight: 900;
      @media (min-width: 801px) and (max-width: 1023px){
        font-size: 1.2rem;
      }
      @media (min-width: 501px) and (max-width: 800px){
        font-size: 1rem;
      }
      }
      &__links{
        display: flex;
        align-self: flex-end;
        margin-top: 1rem;
        & img{
          margin-right: 1rem;
          width: 1.5rem;
          height: 1.5rem;
          
         
        }
      }
    }
    &__details{
      margin-left: 2rem;
      width: 40%;
      font-size: 1.3rem;
      @media (min-width: 801px) and (max-width: 1023px){
        font-size: 1rem;
      }
      @media (min-width: 601px) and (max-width: 800px){
        font-size: 0.8rem;
      }
      @media (min-width: 301px) and (max-width: 500px){
        width: 80vw;
        margin-top: 2rem;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
