
.circle{
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   width: 92%;
   height: 92%;
   border-radius: 50%;
   background-color:rgba(255, 183, 76, 0.1);
}
// .circle1{
//     background-color:rgba(255, 183, 76, 0.1);
// }
// .circle2{
//     background-color:rgba(255, 183, 76, 0.15);
// }
// .circle3{
//     background-color: blue;
// }
